
.hero-heading{
    font-family: 'Rubik Mono One', sans-serif;
}

.terminal-mask {
  -webkit-mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
}